
<!DOCTYPE html>

<html>
  <head>
    <title>The Enviornmentalists</title>
  </head>
  <h1>The Enviornmentalists</h1>
  <br>
  <body>
    <div>
      <h2>What Ecosystem Do You Live In?</h2>
      <p>Tundra</p>
      <a href="https://www.arkive.org/eco-regions/arctic/">Arctic</a>
      <p>Rain Forest</p>
      <a href="https://www.arkive.org/habitats/forests/">Rain Forests</a>
      <p>Deciduous Forest</p>
      <a href="https://www.arkive.org/eco-regions/eastern-deciduous-forest/">Deciduous Forest</a>
      <p>Desert</p>

      <a href="https://www.arkive.org/habitats/grasslands-uk/">Grasslands</a>
      <p>Taiga</p>
      <a href="http://www.blueplanetbiomes.org/taiga.htm">Taiga</a>
    </div>
  </body>
  <br>
  <body>
    <div>
      <h3>What Plant Would Be Best For Your Ecosystem?</h3>
      <p>Annuals</p>
      <p>Perennials</p>
      <p>Bulb</p>
      <p>Evergreens</p>
      <p>Grasses, Rushes, Sedges</p>
      <p>Tropicals</p>
      <p>Shrubs</p>
      <p>Cacti and Succulants</p>
    </div>
  </body>
  <br>
  </html>
